* {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
}
body{
    overflow:hidden;
}
.container {
    background-color: #fff;
    border: 1px solid #ababab;
    height: 500px;
    width: 500px;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    margin: 20px 0;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
}

.text {
    background-color: #fff;
    text-align: justify;
    text-justify: inter-word;
    font-size: 60px;
    filter: blur(2px);
    font-family: Arial;
    font-stretch: ultra-condensed;
    margin: 20px;
}
h1 {
    color: #ece8e8;
    text-align: justify;
    text-justify: inter-word;
    font-size: 60px;
    font-family: Arial;
    font-stretch: ultra-condensed;
    margin: 0;
}
h3{
    color:#696969;
    font-size:12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}
input {
    color: #ece8e8;
    background-color: #2e2e2e;
    border: 0;
    outline: none;
    height: 30px;
    width: 500px;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.social-networks {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.social-networks i {
    font-size: 40px;
    color: #ece8e8;
    margin: 0 10px;
    cursor: pointer;
}